@media (max-width: 1230px) {
	/* nav */
	.nav_list {
		display: none;
	}
	.nav_button {
		display: block;
	}
	.nav.opened .nav_list {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		padding: 46px 30px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		font-size: 34px;
		font-weight: 600;
	}
	.nav_button {
		position: absolute;
		top: 46px;
		right: 30px;
	}
	.nav.opened .nav_button {
		position: fixed;
	}
	/* header */
	.header_nav {
		margin-bottom: 50px;
	}
	.header_row {
		flex-direction: column;
		row-gap: 20px;
	}
	.header_content {
		margin-top: 0;
	}
	.header_image {
		text-align: center;
	}
}

@media (max-width: 700px) {
	.header_heading {
		font-size: 34px;
		line-height: 1.3;
	}
	.header_heading span {
		font-size: 28px;
	}
	.services {
		padding: 60px 0;
	}
	.portfolio {
		padding: 60px 0;
	}
	.project_title {
		margin-bottom: 50px;
	}
	.project_img {
		margin-bottom: 30px;
	}
	.project + .project {
		margin-top: 55px;
	}
	.contacts {
		padding: 60px 0;
	}
	.contacts_title {
		margin-bottom: 20px;
	}
	.contacts_content {
		margin-bottom: 20px;
	}
	.contacts_button {
		margin-bottom: 70px;
	}
	.contacts_social {
		margin-bottom: 20px;
		column-gap: 50px;
	}
}
